<!--p id="notice"><%= notice %></p-->
<div class="container">
<p>
  <strong>Nombre:</strong>
  <%= @provider.nombre %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @provider.categoria %>
</p>

<p>
  <strong>Email:</strong>
  <%= @provider.email %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @provider.direccion %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @provider.telefono %>
</p>

<!--p>
  <strong>Calificacion:</strong>
  <%= @provider.calificacion %>
</p-->

<%= link_to 'Editar', edit_provider_path(@provider) %> |
<%= link_to 'Regresar', providers_path %>

</div>
